<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Simple Marketplace">
    <title>Simple MarketPlace</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/simplemp.css">
    <script src="static/js/jquery-1.7.1.js"></script>
    <script src="static/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script src="static/js/balanced.js"></script>
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

